- tags: always
  include_vars: "{{ item }}"
  with_items:
    - s3-vars.yml
    - ../../../vars/global-vars.yml

- name: Perform backup
  run_once: true
  delegate_to: www10
  ansible.builtin.raw: /usr/local/bin/mysql-backup.sh day
  tags: app.migrate.legacy-backup

- name: Restore from today's backup on s3
  tags: app.migrate.restore
  shell:
    cmd: |
      set -exuo pipefail
      aws s3 cp {{ s3_mysql_backup_path }} - \
        | gzip -dc \
        | sed -n -e '/^CREATE DATABASE.*polywiki/,$p' \
        | sed -n -e '1p' -e '2,/^CREATE DATABASE/{
                   /^CREATE DATABASE/q
                   p
          }' \
        | sed -e 's/^\(CREATE DATABASE.*\|USE.*\)`polywiki`/\1`{{
                             wiki_secrets.mariadb.dbname }}`/' \
              -e 's|ENGINE=MyISAM | |g' \
        | mariadb {{ wiki_secrets.mariadb.dbname }}
