- tags: always
  include_vars: "{{ item }}"
  with_items:
    - build-vars.yml
    - global-vars.yml  # For polywiki_war_filename

- name: "`{{ build_dir | dirname }}`"
  ansible.builtin.file:
    state: directory
    path: "{{ build_dir | dirname }}"
    recurse: true

- name: "`{{ build_dir }}`"
  ansible.builtin.git:
    repo: "{{ build_polywiki_git_repository }}"
    version: feat/migration-entraid
    dest: "{{ build_dir }}"

- name: "Build with Gradle"
  ansible.builtin.shell:
    cmd: gradle war
    chdir: "{{ build_dir }}"
  register: _gradle_build
  changed_when: >-
    " executed, " in _gradle_build.stdout

- name: "{{ polywiki_war_filename | dirname }}"
  ansible.builtin.file:
    state: directory
    recurse: yes
    path: "{{ polywiki_war_filename | dirname }}"

- name: "Install to {{ polywiki_war_filename }}"
  ansible.builtin.copy:
    remote_src: yes
    src: "{{ build_dir }}//build/libs/build.war"
    dest: "{{ polywiki_war_filename }}"
