- tags: always
  include_vars: build-vars.yml

- name: "`{{ build_dir | dirname }}`"
  ansible.builtin.file:
    state: directory
    path: "{{ build_dir | dirname }}"
    recurse: true

- name: "`{{ build_dir }}`"
  ansible.builtin.git:
    repo: "{{ build_polywiki_git_repository }}"
    version: feat/migration-entraid
    dest: "{{ build_dir }}"
