- tags: always
  include_vars: build-vars.yml

- name: "`{{ build_dir | dirname }}`"
  ansible.builtin.file:
    state: directory
    path: "{{ build_dir | dirname }}"
    recurse: true

- name: "`{{ build_dir }}`"
  ansible.builtin.git:
    repo: "{{ build_polywiki_git_repository }}"
    version: feat/migration-entraid
    dest: "{{ build_dir }}"

- name: "Build with Gradle"
  ansible.builtin.shell:
    cmd: gradle war
    chdir: "{{ build_dir }}"
  register: _gradle_build
  changed_when: >-
    " executed, " in _gradle_build.stdout
