- hosts: vms
  gather_facts: no
  roles:
    - epfl_si.katello_dsi.katello_fleet_member
    - roles/wiki-vm
    - role: roles/rhel-apache-tomcat
      vars:
        apache_tomcat_dn_cn: "{{ inventory_web_hostname }}"
    - roles/wiki-app
