- name: python3-cryptography
  dnf:
    name: python3-cryptography

- name: nginx
  dnf:
    name: nginx

- name: "{{ nginx_tomcat_tls_prefix | dirname }}"
  ansible.builtin.file:
    state: directory
    path: "{{ nginx_tomcat_tls_prefix | dirname }}"
    owner: root
    mode: '0700'

- name: "{{ nginx_tomcat_tls_prefix }}.key"
  community.crypto.openssl_privatekey:
    path: "{{ nginx_tomcat_tls_prefix }}.key"

- name: "{{ nginx_tomcat_tls_prefix }}.csr"
  community.crypto.openssl_csr:
    path:  "{{ nginx_tomcat_tls_prefix }}.csr"
    privatekey_path: "{{ nginx_tomcat_tls_prefix }}.key"
    common_name: "{{ nginx_tomcat_dn_cn }}"
    organization_name: "{{ nginx_tomcat_dn_o }}"

- name: "{{ nginx_tomcat_tls_prefix }}.crt"
  community.crypto.x509_certificate:
    provider: selfsigned
    path:  "{{ nginx_tomcat_tls_prefix }}.crt"
    csr_path: "{{ nginx_tomcat_tls_prefix }}.csr"
    privatekey_path: "{{ nginx_tomcat_tls_prefix }}.key"

- name: "{{ _nginx_conf_dir }}"
  vars:
    _nginx_conf_dir: /etc/nginx
  ansible.builtin.file:
    state: directory
    path: "{{ _nginx_conf_dir }}"
    owner: root
    recurse: true

- name: "{{ _nginx_conf_filename }}"
  vars:
    _nginx_conf_filename: /etc/nginx/nginx.conf
  copy:
    dest: "{{ _nginx_conf_filename }}"
    content: |
      events { }
      http {
        server {
            listen 443 ssl;
            server_name _;

            ssl_certificate     {{ nginx_tomcat_tls_prefix }}.crt;
            ssl_certificate_key {{ nginx_tomcat_tls_prefix }}.key;

            location / {
                proxy_pass http://127.0.0.1:8080/;
                proxy_set_header Host $host;
                proxy_set_header X-Forwarded-For $remote_addr;
                proxy_set_header X-Forwarded-Proto https;
            }
        }
      }

- name: systemd service
  ansible.builtin.systemd_service:
    name: nginx
    enabled: true
    state: started
