- tags: always
  include_vars: ../../../vars/global-vars.yml

- name: "`mariadb` RPM"
  ansible.builtin.dnf:
    name: mariadb

- name: MariaDB credentials
  ansible.builtin.copy:
    dest: /root/.my.cnf
    content: |
      [client-mariadb]
      host={{     wiki_secrets.mariadb.server               }}
      port={{     wiki_secrets.mariadb.port | default(3306) }}
      user={{     wiki_secrets.mariadb.username             }}
      password={{ wiki_secrets.mariadb.password             }}
      database={{ wiki_secrets.mariadb.dbname               }}
