_wiki_nfs_volumes:
  # https://portal-xaas-its.epfl.ch/automation/#/service/catalog/consume/deployment/5c3fbf91-db24-4f7c-876f-82af9e0da057
  production: nas-app-ma-nfs1.epfl.ch:/si_blog_wiki_app

wiki_nfs_volume: >-
  {{ _wiki_nfs_volumes[inventory_deployment_stage] }}
